@use "../../styles/common";
.btn {
  border-radius: 0.5rem;
  font-size: 0.75rem;
  color: common.$color-Button-txt;
}
.btn-primary {
  background-color: common.$color-Button-bg ;
  padding: 1rem;
}
.btn-search {
  background-color: common.$color-bgButtonSearch ;
  padding: 1rem;
}
.btn-remove {
  background-color: common.$color-bgButtonRemove ;
  padding: 1rem;
}