@use "../../styles/common";
.book-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  border: 1px solid common.$color-white;
  padding: 16px;
  color: common.$color-white;
  width: 90%;
  margin: 3px 0;
}
.book-details {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 35px;
}