@use "../../styles/common";

.header {
  text-align: center;
  width: common.$width-size;

  h1 {
    font-size: 2rem;
    font-weight: 600;
    color: common.$color-text;

    background: linear-gradient(
    to right,
    common.$color-section-cobiss 10%,
    common.$color-section-items 90%
    );

  }
}
