@use "../../styles/common";

.footer {
  text-align: center;
  width: 90%;

  div {
    font-size: 1rem;
    font-weight: 600;
    color: common.$color-text;

    background: linear-gradient(
            to right,
            common.$color-section-items 10%,
            common.$color-section-cobiss 90%
    );

  }
}
