@use "../../styles/common";

.book-search {
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  color: common.$color-text;
  font-size: 1.25em;
  border: 1px solid common.$color-text;

  .book-search-row {
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;   // input levo, button desno
  }

  .book-search-input {
    height: 50px;
    border: 1px solid common.$color-text;
    border-radius: 5px;
    padding: 0 10px;
  }

  .btn { height: 50px; }            // btn enake višine kot input
}

