@use "../../styles/common";


.book-search {
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 0.625rem 1.875rem;
  color: common.$color-text;
  font-size: 1.25em;
  border: 0.063rem solid common.$color-section-cobiss;
  border-width: 0.063rem 0.063rem 0.063rem 0.313rem;

  .book-search-row {
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;   // input levo, button desno
  }

  .book-search-input {
    height: 3.125rem;
    border: 0.063rem solid common.$color-text;
    border-radius: 0.313rem;
    padding: 0 0.625rem;
  }

  .btn { height: 3.125rem; }            // btn enake višine kot input
}

